<nav>
    <div class="home">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../../assets/svg/profile.svg">
            Home
        </a>
    </div>
    <div class="create-routine">
        <a routerLink="/create-routine" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../../assets/svg/list.svg">
            Create
        </a>
    </div>
    <!-- <div class="stats">
        <a routerLink="/stats" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../../assets/svg/plus.svg">
            Stats
        </a>
    </div>
    <div class="social">
        <a routerLink="/social" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../../assets/svg/personal-connections.svg">
            Social
        </a>
    </div> -->
</nav>
