nav {
    display: flex;
    justify-content: space-around;
    background-color: #2d2e2e;
    padding: 10px 0;
    position: relative;

}

nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to bottom, rgb(30, 30, 30), transparent); 
}

nav div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #cbcbcb; 
    font-size: 14px;
}

nav div img {
    width: 24px; 
    height: 24px;
    margin-bottom: 5px;
}

nav div a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav div a.active {
    color: #fff;
}

nav div a.active img {
    filter: brightness(0) invert(1);
}
