:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding-bottom: 65.8px;
}


app-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 65.8px;
}

canvas {
    max-width: 100%;
    max-height: 200px;
}

.stats-div {
    padding: 12px 0;
    margin: 0 12px;
    border-top: 1px solid #fff;
}



div h3 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}

h1 {
    margin: 24px 12px;
}

.loader-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 65.8px);
}

.loader {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 20px auto; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}